<h1>LongestWord#score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p>
 get '/score'
<h2> <%= @message %> </h2>
<h2> <%= @attempt %> </h2>
<h2> <%= @your_score %> </h2>
<h2> It took you <%= @duration %> milliseconds...that's way too long! </h2>

 <a href="/game">GAME</a>
